/* Extra small devices (portrait phones, less than 576px) */
@media (max-width:575.98px){
   /* Navbar & Header media css */
   .parental_img{
    width:100%;
   }
   /* Navbar media css */
   .child_logo{
    padding:20px 0px;
   }
   .child_items{
    margin-left:0px;
   }
   /* Header media css */
   .parental_header{
    padding:380px 0px;
   }
   .parental_header h1{
letter-spacing:0px;
   }
   .parental_header p{
color:white;
    margin-left:0px;
   }
   /* Degree media css */
   .parental_degree{
      display:block;
   }
   .child_degree{
      margin-left:110px;
      margin-top:20px;
   }
   /* Campus CSS */
   .parental_campus{
      display:block;
      margin-left:140px;
   }
   .child_campus{
      margin-top:20px;
   }
   /* Student review section */
   .parental_review{
      display:block;
      margin-left:20px;
   }
   .child_review{
      margin-top:50px;
   }
   /* Course media css */
   .course_img{
      margin-left:0px;
      width:100%;
   }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width:576px) and (max-width:767.98px){
     /* Navbar & Header media css */
   .parental_img{
    width:100%;
   }
   /* Navbar media css */
   .child_logo{
    padding:20px 10px;
   }
   .child_items{
    margin-left:150px;
   }
   /* Header media css */
   .parental_header{
    padding:380px 0px;
   }
   .parental_header h1{
letter-spacing:4px;
   }
   .parental_header p{
color:white;
    margin-left:100px;
   }
      /* Degree media css */
   .child_degree{
      margin-left:5px;
   }
      /* Campus CSS */
   .parental_campus{
      margin-left:0px;
   }
   .child_campus{
      margin-top:20px;
   }
   /* Facilities media css */
   .parental_facilities{
      display:block;
      margin-left:240px;
   }
   .child_facilities{
      margin-top:50px;
   }
     /* Student review section */
   .parental_review{
      display:block;
      margin-left:20px;
   }
   .child_review{
      margin-top:50px;
   }
    /* Course media css */
   .course_img{
      margin-left:0px;
      width:100%;
   }
}
 

/* Medium devices (tablets, 768px and up) */
@media (min-width:768px) and (max-width:991.98px){
       /* Navbar & Header media css */
   .parental_img{
    width:100%;
   }
   /* Navbar media css */
   .child_logo{
    padding:20px 30px;
   }
   .child_items{
    margin-left:300px;
   }
   /* Header media css */
   .parental_header{
    padding:380px 0px;
   }
   .parental_header h1{
letter-spacing:4px;
   }
   .parental_header p{
color:white;
    margin-left:220px;
   }
       /* Degree media css */
   .child_degree{
      margin-left:5px;
   }
         /* Campus CSS */
   .parental_campus{
      margin-left:10px;
   }
   .child_campus{
      margin-top:20px;
   }
   /* Student review media css */
   .parental_review{
      margin-left:5px;
      gap:10px;
   }
    /* Course media css */
   .course_img{
      margin-left:0px;
      width:100%;
   }
}


/* Large devices (desktops, 992px and up) */
@media (min-width:992px) and (max-width:1199.98px){
       /* Navbar & Header media css */
   .parental_img{
    width:100%;
   }
   /* Navbar media css */
   .child_logo{
    padding:40px 30px;
   }
   .child_items{
    margin-left:500px;
   }
   /* Header media css */
   .parental_header{
    padding:380px 0px;
   }
   .parental_header h1{
letter-spacing:4px;
   }
   .parental_header p{
color:white;
    margin-left:315px;
   }
         /* Degree media css */
   .child_degree{
      margin-left:40px;
   }
            /* Campus CSS */
   .parental_campus{
      margin-left:110px;
   }
   .child_campus{
      margin-top:20px;
   }
}


/* Extra large devices (large desktops, 1200px and up) */
@media (min-width:1200px) and (max-width:1399.98px){}


/* Extra Extra large devices (large desktops, 1400px and up) */
@media (min-width:1400px){}
