*{
  margin:0;
  padding:0;
}
/* Google font CDN */

@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=SN+Pro:ital,wght@0,200..900;1,200..900&display=swap');

body{
    font-family: "Roboto", sans-serif;
}

/* Navbar & Header css */
.parental_img{
  background-image:url(home-img/header/banner.png);
  width:100%;
     height:1000px;
}
/* Navbar css */
.parental_nav{
  display:flex;
}
/* Navar logo */
.child_logo{
  padding:20px 60px;
}
.child_logo img{
  width:200px;
}
/* Navbar items */
.child_items{
  margin-left:450px;
  color:white;
  font-size:15px;
}
.child_items ul{
  display:flex;
}
.child_list{
  padding:37px 10px;
  list-style-type:none;
}
.child_list a{
  text-decoration:none;
  color:white;
  padding:5px 0px;
  transition:1s ease;
}
.child_list a:hover{
border-bottom:3px solid #FF5332;
}
/* Navbar css */
/* Header css */
.parental_header{
color:white;
  padding:380px 300px;
  text-align:center;
}
.parental_header h1{
  letter-spacing:5px;
  font-size:40px;
}
.parental_header p{
  margin-top:30px;
  margin-bottom:50px;
  width:550px;
  margin-left:50px;
}
.parental_header button{
  padding:10px 25px;
  background-color:rgba(255, 255, 255, 0);
  color:white;
  border:1px solid white;
  transition:1s ease;
}
.parental_header button:hover{
  background-color:#FF5332;
}
/* Header css */
/* Navbar & Header css */
/* Courses CSS */
.courses{
  text-align:center;
  margin-top:78px;
}
.courses h2{
  color:black;
}
.courses p{
  color:#3F3F3F;
  margin-top:15px;
  font-size:15px;
}
/* Courses CSS */
/* Degree CSS */
.parental_degree{
  display:flex;
  margin-top:80px;
}
.child_degree{
  width:350px;
  margin-left:50px;
  text-align:center;
}
.child_degree p{
margin-top:15px;
color:#3F3F3F;
}
/* Degree CSS */
/* Campus heade css */
.campus_header{
  margin-top:150px;
}
/* Campus heade css */
/* Campus CSS */
.parental_campus{
  display:flex;
  gap:30px;
  margin-left:150px;
  margin-top:50px;
}

.child_campus p{
  color:rgba(255, 255, 255, 0);
  text-align:center;
  padding-top:200px;
}
.campus-1{
  background-image:url(home-img/campus/london.png);
    width:300px;
  height:400px;
}
.campus-2{
  background-image:url(home-img/campus/newyork.png);
    width:300px;
  height:400px;
}
.campus-3{
  background-image:url(home-img/campus/washington.png);
    width:300px;
  height:400px;
}
/* Campus CSS */
/* Facilities CSS */
.parental_facilities{
  margin-left:30px;
}
.child_facilities img{
width:300px;
height:200px;
border-radius:5px;
margin-bottom:10px;
}
.child_facilities {
  text-align:left;
}
/* Facilities CSS */
/* Student review css */
.parental_review{
  display:flex;
  gap:150px;
  margin-left:60px;
  margin-top:60px;
}
/* Student 1 */
.child_review{
  width:490px;
}
.children_review{
  display:flex;
}
.children_review img{
   width:50px;
   border-radius:100px;
}
.children_review p{
  margin-left:20px;
}
.icon_review{
  margin-left:68px;
  margin-top:10px;
}
.icon_review i{
  margin-top:10px;
  color:#FF5332;
  font-size:15px;
}
/* Student 2 */
/* Student review css */
/* Courses CSS */
.course_img{
  background-image:url(home-img/courses/banner2.jpg);
  width:920px;
  height:350px;
  margin-top:100px;
  margin-left:175px;
  border-radius:10px;
}
.content_course{
  text-align:center;
padding-top:110px;
color:white;
}
.content_course h2{
  margin-bottom:20px;
}
.content_course button{
  margin-top:20px;
  padding:10px 15px;
  background-color:rgba(255, 255, 255, 0);
  color:white;
  border:2px solid white;
  transition:1s ease;
}
.content_course button:hover{
  background-color:#FF5332;
}
/* Courses CSS */
/* About navbar */
.about_navbar{
  background-image:url(about-img/header/background.jpg);
  width:100%;
  height:400px;
}
.about_text{
  padding:120px 300px;
}
/* About navbar */
/* About CSS */
.parental_about{
  display:flex;
  margin-top:200px;
  margin-left:160px;
}
/* About text CSS */
.child_text{
  width:410px;
  margin-right:50px;
}
.child_text p{
  margin:20px 0px;
  color:#718096;
}
.child_text button{
  padding:7px 12px;
  color:#FF5332;
  border:1px solid #FF5332;
  transition:1s ease;
}
.child_text button:hover{
  color:white;
  background-color:#FF5332;
}
/* About img CSS */
.child_img img{
width:500px;
}
/* About CSS */
/* Post Categories CSS */
.categories{
  display:flex;
  margin-top:200px;
  margin-left:100px;
}
/* Post image css */
.categories_img img{
  width:600px;
}
/* Post text CSS */
.categories_text{
  margin-left:70px;
}
.post_header span{
  border:2px solid #FF5332;
  padding:5px 110px;
  background-color:#FF5332;
  font-weight:bolder;
  color:white;
}
.child-text{
  display:flex;
  color:#718096;
  margin-top:19px;
}
/* Post Categories CSS */
/* Blog CSS */
.blog-section{
  width:600px;
  margin-left:100px;
  margin-top:50px;
}
.blog-section h3{
  color:black;
}
.blog-section p{
  margin-top:20px;
  color:#718096;
}
/* Blog CSS */
/* Footer CSS */
.footer h4{
  margin-bottom:40px;
}
.footer i{
  color:#FF5332;
  font-size:20px;
  margin-left:20px;
  margin-top:20px;
}
/* Footer CSS */